@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

:root {
  --colour-primary: #231f20;
  --colour-secondary: #fff;
  --colour-tertiary: #007ea8; 
  --colour-quaternary: #ef6c01; 
  --colour-quinary: #bf5600;


  --font-primary: 'DM Sans', sans-serif;
  --font-secondary: 'Noto Sans', sans-serif;

}

html {
  box-sizing: border-box;
  min-height: 100%;
  background: white;
}

body {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: var(--colour-primary);
  font-family: var(--font-primary);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 32px;
}

h1, h2 {
  font-family: var(--font-primary);
  font-weight: 700;
}


.container{
  width: 100%;
  max-width: 1580px;
  margin: auto;
}
@media (max-width: 1580px){
  .container{
    padding: 0 30px;
    width: calc(100% - 60px);
  }
}
@media (max-width: 768px){
  .container{
    padding: 0 15px;
    width: calc(100% - 30px);
  }
}

h2{
  margin:  10px 0;
}

p {
  margin: 0;
  margin-bottom: 5px;
}


/* PAGINATION */

ul.pagination {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}

.pagination li {
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  font-size: 16px;
  font-family: var(--font-secondary); 
  font-weight: 400;
  text-align: center;
}

.pagination li.active {
  font-weight: 700;
  color: var(--colour-quaternary);
  border-bottom: 2px solid var(--colour-tertiary);
  outline: none;
}

.pagination li.active a {
  outline: none;
}

.pagination li.previous {
  display: none;
  padding: 0;
}